# Ignore virtual environment
*venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Flask static (if not needed in version control)
static/YT-Extracts/

# Ignore IDE and editor settings (if applicable)
.vscode/
.idea/

# Ignore environment-specific files
*.env
